# OS
.DS_Store
Thumbs.db

# env files
.env*

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea

# debug
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# dependencies (root)
/node_modules

# pnpm
.pnpm-store

.ruff_cache/

# pencil
pencil/